.containerhome{
  background: 
            url('../../images/dashboard.jpg') no-repeat center center/cover;
  
  padding: 5px;
}
/* TailoringDisplay.css */
.tailoring-display-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .display-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  .tailoring-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    
  }
  
  .tailoring-card {
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .tailoring-card:hover {
    transform: translateY(-5px);
  }
  
  .tailoring-id {
    font-size: 1rem;
    color: #2c3e50;
    margin-bottom: 15px;
  }
  
  .tailoring-card p {
    margin: 8px 0;
    color: #555;
    font-size: 12px;
  }
  
  .status {
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .status.pending {
    background-color: #f39c12;
    color: #fff;
  }
  
  .status.completed {
    background-color: #27ae60;
    color: #fff;
  }
  
  .status.rejected {
    background-color: #c0392b;
    color: #fff;
  }
  
  .image-container {
    margin-top: 15px;
    text-align: center;
  }
  
  .outfit-image {
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
    max-height: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .button-group {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .complete-btn {
    background-color: #27ae60;
  }
  
  .complete-btn:hover {
    background-color: #2ecc71;
  }
  
  .reject-btn {
    background-color: #c0392b;
  }
  
  .reject-btn:hover {
    background-color: #e74c3c;
  }
  
  .pending-btn {
    background-color: #f39c12;
  }
  
  .pending-btn:hover {
    background-color: #db9910;
  }

  .delete-btn {
    background-color: #6c757d;
    color: white;
  }
  
  .delete-btn:hover {
    background-color: #5a6268;
  }
  
  .delete-btn .fa-trash {
    font-size: 16px; /* Adjust icon size as needed */
  }

  .price-edit-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Price input field styling */
  .price-input {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:10px;
  }
  
  /* Update price button styling */
  .update-price-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:10px;
  }
  
  .update-price-btn:hover {
    background-color: #0056b3;
  }