.delete-order-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .delete-order-button {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #ff0000, #d40000);
    border: none;
    border-radius: 6px;
    padding: 15px 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
  }
  
  .searchBar {
    float: right;
    font-size: 17px;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 4px;
  }
  
  .ordersTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .ordersTable td, .ordersTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .ordersTable tr:nth-child(even){background-color: #f2f2f2;}
  
  .ordersTable tr:hover {background-color: #ddd;}
  
  .ordersTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  
  .header {
    padding: 8px;
    text-align: center;
    color: black;
    font-size: 60px;
    font-weight: bold;
  }
  
  .pdfButton {
    background-color: #008CBA; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 28px;
  }
  
  
  