.admin-review-container h1 {
    text-align: center; 
    font-size: 3em; 
    margin-bottom: 20px; 
    color: #007bff; 
    font-weight: 700; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    padding-bottom: 10px; 
    padding-top: 15px; 

}

.admin-review-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; 
}

.feedback-table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
    width: 1314px;
}

.feedback-table th,
.feedback-table td {
    border: 1px solid #ddd;
    padding: 12px; 
    text-align: left;
}

.feedback-table th {
    background-color: #007bff; 
    color: white; 
    font-weight: bold; 
    text-transform: uppercase; 
    text-align: center;
}

.feedback-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.feedback-table tbody tr:hover {
    background-color: #e0f7fa; 
}

.feedback-table td {
    font-size: 14px; 
    color: #555; 
}

.feedback-table td .admdelete-button {
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
}

.feedback-table td .admdelete-button:hover {
    opacity: 0.8; 
}

@media (max-width: 768px) {
    .feedback-table th,
    .feedback-table td {
        padding: 8px; 
        font-size: 12px; 
    }
    
    .admin-review-container {
        padding: 10px; 
    }
}

.search-container {
    position: relative; 
    display: flex; 
    align-items: center; 
}

.search-bar {
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
    width: 100%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.search-icon {
    position: absolute; 
    right: 10px; 
    pointer-events: none; 
}

.star-rating {
    font-size: 20px; 
    color: gold; 
}
